{% extends 'home/main.html' %}
{% load static %}
{% block content %} 

<div class="user-dash"> 
  <div class="container">
<h2>About GlobalMadad</h2>
<b>GlobalMadad is a job service provider organization. Our mission to become a bridge
    between opportunity and need.</b>
<br></br>
<div class="container-apply">
  <div class="img-wrapper">
  <img src="{% static 'images/new_oppurtunity.png' %}" />
</div>

</div class="container-apply">
 <div class="video-wrapper">
   <video controls autoplay>
    <source src="{% static 'media/videos/home_tutor.mp4' %}" type="video/mp4">
    Your browser does not support the video.
  </video>
 </div>
<div>

</div>
<br>
<h3>Requirement Details</h3>
<table id="customers">
    <tr>
      <td>Company</td>
      <td>An American Company
    </td>
    </tr>
    <tr>
      <td>Requirement Name </td>
      <td>Chat Based Tutor
    </td>

    </tr>
    <tr>
      <td>Requirement Type </td>
      <td>Freelancing
    </td>

    </tr>
    <tr>
      <td>Required Skills</td>
      <td>Tutoring, Teaching & English</td>

    </tr>
    <tr>
      <td>Work Per Day </td>
      <td>Flexible
    </td>

    </tr>
    <tr>
      <td>Income</td>
      <td>2-$16 per question answered / Up to
        $1500/month</td>

    </tr>
    <tr>
      <td>Enrollment Start Date</td>
      <td>Feb 5th , 2022
    </td>

    </tr>
    <tr>

  </table>
  <br>
<h3>Opportunity for Non-voice Tutor</h3>

<p>Company is an online platform that connects tutors, educators, and students globally. We help
    our students on our platform with their homework and other academic needs. Our tutors are
    compensated by helping our students in answering their questions in a text-based form.</p>

<h3>Responsibilities:</h3>

<p>As a Non-voice Tutor, you are answering homework questions, you earn by providing accurate,
    original solutions. It’s not the typical face-to-face video tutoring that you are familiar with. You
    will teach by providing text-based answers. At the same time, you can earn up to $16 per
    question. You can teach at your most convenient time.</p>

<h3>Qualifications:</h3>
<ul>
    <li>At least a college student who has taken most of the major subjects</li>
    <li>College graduates and licensed professionals are a plus!
    </li>
    <li>Subjects/Majors: Finance, Economics, Human Resource Management, Marketing,
        Business Law, Operations Management,Managerial Accounting, Project Management,
        Microeconomics, Management, and Macroeconomics.Statistics and Probability, Financial
        Accounting, Business - Other, Computer Science, Calculus,Nursing, English, Math -
        Other, Accounting, Chemistry,Psychology,Algebra,Physics,Health Science, Electrical
        Engineering, Biology, Mechanical Engineering, Organic chemistry,Sociology, Python
        Programming, Civil Engineering, Java Programming, US History, Philosophy, and
        journalism. </li>
    <li><b>Note:</b>If your subject/major isn’t mentioned in above list, still you can apply just specify your subject/major.</li>
</ul>


<h3>Steps to become tutor </h3>
<ol type="1">
    <li>Prepare</li>
      <ol type="a">
        <li>1 copy of your education/teaching background (e.g. diploma, teaching certificate,
            professional license, transcript of records, screenshot of grades)</li>
        <li>1 government-issued ID or School ID</li>
        <li>1 selfie of yourself holding the same ID next to your face
        </li>
      </ol>
    <li>Access</li>
    <ol type="a">
        <li>Will be shared, post Google form submission
        </li>
    </ol>
    <li>Account Creation: Each user will be required to create company’s account</li>
    <li>Select all the applicable categories that suits your educational background</li>
    <li>It will take 5-7 business days to get selection confirmation.</li>
    <li>On successful selection, the onboarding process will be initiated.</li>
    <li><b>Note:</b>Step 3-5 will be performed by the company.
    </li>

</ol>

<h5>Where to apply: <a href="https://docs.google.com/forms/d/e/1FAIpQLSfuPDJ4xQcBUjFdHefoIRnX9gXlF7mvmJqzAIFd7mPBhtQuTw/viewform">Apply Here!</a></h5>
<h6>Send your queries to globalmadad@gmail.com</h6>
<h6>Must go through terms and conditions <a href="https://drive.google.com/file/d/1k8oodXkgrgCsYtyRh_cPnVvg1UK00nwK/view">here</a>!</h6>

</div>
</div>

{% endblock %}